.play {
  background: rgba(0, 0, 0, 0) url("../images/playbtn.png") no-repeat scroll center bottom;
}
.pause {
  background: rgba(0, 0, 0, 0) url("../images/pausebtn.png") no-repeat scroll center bottom;
}

.play, .pause {
  padding-top: 15px;
  transition: all 0.2s ease-in-out 0.2s;
  border: medium none;
  color: transparent;
  height: 32px;
  width: 32px;
  &:hover {
    opacity: 0.5;
    transition: all 0.2s ease-in-out 0.2s;
  }
  &.active {
    opacity: 0.5;
  }
  @include respond-to(phone) {
    height: 32px;
    width: 32px;
  }
}
